* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #D6E2F0;
    --card-color: white;
    --text-color: #7B879D;
    --title-color: #1F3251;

    --heavy-weight: 700;
    --light-weight: 400;

    --title-fs: 1.375rem;
    --text-fs: 0.9375rem;
    --footer-fs: 0.6875rem;

    --box-width: 19.6875rem;
    --box-height: 30.25rem;

    --image-width: 17.5rem;
    --image-height: 17.5rem;

    --text-box-padding: 0.5rem;

    --border-radius: 0.9375rem;

    --card-padding: 1.125rem; 
}

#CENTER-TEXT,
.card--title,
.card--text {
    text-align: center;
}

#ROUND-BORDERS,
.card,
.card--image {
    border-radius: var(--border-radius);
}

#TEXT-BOX-PADDING,
.card--title,
.card--text {
    padding: var(--text-box-padding);
}

body {
    background-color: var(--background-color);
    font-family: 'Outfit', sans-serif;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    background-color: var(--card-color);
    padding: var(--card-padding);
    width: var(--box-width);
    height: var(--box-height);
    color: var(--title-color);
}

.card--image {
    width: var(--image-width);
    height: var(--image-height);
}

.card--title {
    font-weight: var(--heavy-weight);
    font-size: var(--title-fs);
}

.card--text {
    color: var(--text-color);
    font-weight: var(--light-weight);
    font-size: var(--text-fs);
}
